{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 80,
  "react/jsx-max-props-per-line": [1, { "when": "always" }],
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false
}
